<ion-grid>
  <form *ngIf="!isDeleted" [formGroup]="expenseForm" (ngSubmit)="submit()">
    <ion-row>
      <ion-col col-12>
        <ion-label style="margin-bottom: 0; padding-left: 16px">Name</ion-label>
        <ion-item>
          <ion-input formControlName="title" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <ion-label style="margin-bottom: 0; padding-left: 16px">Value</ion-label>

        <ion-item>
          <a [color]="positiveButton.color" (click)="toggleColor(true)" ion-button item-start>
            <ion-icon name="add"></ion-icon>
          </a>

          <a [color]="negativeButton.color" (click)="toggleColor(false)" ion-button item-start>
            <ion-icon name="remove"></ion-icon>
          </a>

          <ion-input formControlName="amount" type="number" step="any"  (ionChange)="verifyAmount($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-list radio-group col-12 formControlName="forever">
        <ion-item>
          <ion-label>Forever</ion-label>

          <ion-radio (ionSelect)="setExpenseType($event)" value="true"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>times</ion-label>

          <ion-radio (ionSelect)="setExpenseType($event)" value="false"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-input (ionChange)="changed" [disabled]="isForever" formControlName="repeat" min="1" max="72" type="number" (keyup)="verifyLimit(repeat)"></ion-input>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row *ngIf="displayEditAndDeleteButtons">
      <ion-list radio-group col-12 formControlName="fowardOrAll">
        <ng-template [ngIf]="doesRepeatManyTimes()">
          <ion-item>
            <ion-label>This expense</ion-label>

            <ion-radio value="current"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>From this expense until the last</ion-label>

            <ion-radio value="foward"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>All expenses</ion-label>

            <ion-radio value="all"></ion-radio>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-row>

    <ion-row>
      <p *ngIf="title.touched && title.invalid">
        Title is required.
      </p>

      <p color="danger" *ngIf="amount.touched && amount.invalid">
        Amount is required and must be numeric.
      </p>

      <p color="danger" *ngIf="repeat.touched && repeat.invalid">
        Times is required and must be numeric.
      </p>

      <button
        *ngIf="!displayEditAndDeleteButtons"
        [disabled]="(title.invalid || amount.invalid || repeat.invalid)"
        (click)="setOperationType('add')"
        ion-button block
        type="submit"
        color="secondary">
        ADD
      </button>

      <button
        *ngIf="displayEditAndDeleteButtons"
        [disabled]="(title.invalid || amount.invalid || repeat.invalid)"
        (click)="setOperationType('edit')"
        ion-button
        block
        type="submit"
        color="secondary">
        EDIT
      </button>

      <button
        *ngIf="displayEditAndDeleteButtons"
        [disabled]="(title.invalid || amount.invalid || repeat.invalid)"
        (click)="setOperationType('delete')"
        ion-button
        block
        type="submit"
        color="danger">
        DELETE
       </button>
    </ion-row>
  </form>
</ion-grid>
